/* Font imports and reset */
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Corinthia:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metal&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Nav */
.nav {
  background-color: #e4d5b7;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .nav .upper-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .nav .upper-nav .logo {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .nav .upper-nav .logo img {
        margin-left: 10px;
        margin-top: 5px;
        height: 40px;
        width: 40px; }
      .nav .upper-nav .logo h1 {
        margin-left: 10px;
        font-size: 21.5remem;
        font-style: normal;
        font-family: 'Cinzel', serif;
        color: black; }
    .nav .upper-nav .links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      list-style: none; }
      .nav .upper-nav .links li {
        margin-left: 25px; }
        .nav .upper-nav .links li a {
          font-family: 'Courier New', Courier, monospace;
          font-size: 1rem;
          font-weight: 700;
          text-decoration: none;
          color: black;
          transition-property: color;
          transition-duration: 1s; }
          .nav .upper-nav .links li a:hover {
            color: darkgoldenrod; }
  .nav .lower-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .nav .lower-nav .search-input {
      height: 25px;
      width: 500px;
      margin-left: 20px;
      margin-right: 20px; }
    .nav .lower-nav .search-button {
      height: 25px;
      width: 75px; }

.header {
  background-color: #d9b99b;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .header img {
    width: 150px;
    height: 150px;
    transition-property: -webkit-transform;
    transition-duration: 1s; }
    .header img:hover {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1); }
  .header .welcome {
    text-align: center; }
    .header .welcome h1 {
      font-size: 5rem;
      font-family: 'Cinzel', serif;
      font-weight: 900;
      color: black;
      transition-property: color;
      transition-duration: 1s; }
      .header .welcome h1:hover {
        color: #ebe11f; }
    .header .welcome h2 {
      font-size: 2rem;
      font-family: 'Cinzel', serif;
      color: black; }

/* Index */
.grid-container-index {
  margin: 0 auto;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  grid-template-rows: 80px 150px auto 80px;
  grid-template-areas: "nav nav nav" "header header header" "main main aside" "footer footer footer"; }
  .grid-container-index .main {
    background-color: #eed9c4;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .grid-container-index .main img {
      margin: 20px;
      width: 700px;
      height: 400px;
      transition-property: box-shadow;
      transition-duration: 1.5s; }
      .grid-container-index .main img:hover {
        box-shadow: 5px 5px darkslategray; }
    .grid-container-index .main h2 {
      font-size: 1.5rem;
      font-style: normal;
      font-family: 'Courier New', Courier, monospace;
      color: black; }
    .grid-container-index .main .intro-text {
      background-image: url("../img/cuaderno.jpg");
      border-radius: 25px;
      margin: 20px;
      padding: 20px;
      width: 100vh;
      text-align: center;
      transition-property: box-shadow;
      transition-duration: 1.5s; }
      .grid-container-index .main .intro-text:hover {
        box-shadow: 5px 5px darkslategray; }
      .grid-container-index .main .intro-text h2 {
        font-family: 'Corinthia', serif;
        font-size: 2rem;
        color: black; }
    .grid-container-index .main .multimedia {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .grid-container-index .main .multimedia .media-element {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center; }
        .grid-container-index .main .multimedia .media-element h2 {
          font-size: 1.5rem;
          font-style: normal;
          font-family: 'Courier New', Courier, monospace;
          color: black; }
        .grid-container-index .main .multimedia .media-element iframe {
          margin: 15px;
          width: 350px;
          height: 250px; }
  .grid-container-index .aside {
    background-color: #faf0e6;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; }
    .grid-container-index .aside h1 {
      margin: 10px;
      font-size: 1.5rem;
      font-style: normal;
      font-family: 'Courier New', Courier, monospace;
      color: black; }
    .grid-container-index .aside .news {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      .grid-container-index .aside .news .new-book {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; }
        .grid-container-index .aside .news .new-book img {
          width: 150px;
          height: 200px; }
        .grid-container-index .aside .news .new-book h3 {
          width: min-content; }

.grid-container-books {
  margin: 0 auto;
  color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto 80px;
  grid-template-areas: "nav" "main" "footer"; }
  .grid-container-books .grid-container-books-sections {
    width: 100%;
    margin: 0 auto;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 450px 450px 450px;
    grid-template-areas: "news" "recommended" "genres" "authors"; }
    .grid-container-books .grid-container-books-sections .section {
      text-align: center;
      background-color: #fff0db;
      height: 100%; }
      .grid-container-books .grid-container-books-sections .section h2 {
        font-family: 'Sacramento', cursive;
        font-size: 2rem;
        color: black;
        margin-top: 10px; }
      .grid-container-books .grid-container-books-sections .section .books-header {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .grid-container-books .grid-container-books-sections .section .books-header .letters {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          list-style: none; }
          .grid-container-books .grid-container-books-sections .section .books-header .letters li {
            margin-left: 25px; }
            .grid-container-books .grid-container-books-sections .section .books-header .letters li a {
              font-family: 'Courier New', Courier, monospace;
              font-size: 1.2rem;
              font-weight: 700;
              text-decoration: none;
              color: black;
              transition-property: color;
              transition-duration: 0.5s; }
              .grid-container-books .grid-container-books-sections .section .books-header .letters li a:hover {
                color: darkorange; }
      .grid-container-books .grid-container-books-sections .section .books-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; }
        .grid-container-books .grid-container-books-sections .section .books-content .card {
          border-radius: 25px;
          width: 200px;
          height: 300px;
          margin: 15px;
          background-color: #d9b99b;
          align-items: center;
          box-shadow: 10px 10px cadetblue;
          transition-property: background-color;
          transition-duration: 1.5s; }
          .grid-container-books .grid-container-books-sections .section .books-content .card:hover {
            background-color: khaki; }
          .grid-container-books .grid-container-books-sections .section .books-content .card img {
            border-radius: 20px;
            width: 170px;
            height: 210px;
            margin: 5px; }
          .grid-container-books .grid-container-books-sections .section .books-content .card .card-body {
            text-align: start; }
            .grid-container-books .grid-container-books-sections .section .books-content .card .card-body .card-title {
              font-size: 1.1rem;
              color: black;
              margin-top: 7px;
              margin-left: 10px;
              font-family: 'Linden Hill', serif;
              font-weight: 600; }
            .grid-container-books .grid-container-books-sections .section .books-content .card .card-body .card-text {
              font-size: 0.9rem;
              color: black;
              margin-top: 5px;
              margin-left: 10px;
              font-family: 'Linden Hill', serif;
              font-weight: 400; }

/* Book of the day */
.grid-container-book-of-the-day {
  margin: 0 auto;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px auto auto 80px;
  grid-template-areas: "nav nav nav" "aside main main" "chat chat chat" "footer footer footer"; }
  .grid-container-book-of-the-day .main .book-of-the-day-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: 50px; }
    .grid-container-book-of-the-day .main .book-of-the-day-info h2 {
      font-family: 'Linden Hill', serif;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 3.5rem; }
    .grid-container-book-of-the-day .main .book-of-the-day-info .information {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      height: 40%; }
      .grid-container-book-of-the-day .main .book-of-the-day-info .information .column {
        width: 50%; }
        .grid-container-book-of-the-day .main .book-of-the-day-info .information .column h3 {
          margin-top: 5px;
          font-family: 'Metal', cursive;
          font-size: 1.3rem; }
    .grid-container-book-of-the-day .main .book-of-the-day-info .long-review {
      height: 60%;
      font-family: 'Linden Hill', serif; }
      .grid-container-book-of-the-day .main .book-of-the-day-info .long-review h3 {
        font-family: 'Linden Hill', serif;
        margin-top: 10px;
        font-size: 1.3rem; }
      .grid-container-book-of-the-day .main .book-of-the-day-info .long-review p {
        font-family: 'Linden Hill', serif;
        margin-top: 10px;
        font-size: 1.2rem;
        text-align: justify; }
  .grid-container-book-of-the-day .aside .book-of-the-day-covers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px; }
    .grid-container-book-of-the-day .aside .book-of-the-day-covers .main-cover img {
      border: solid 3px black;
      height: 500px;
      width: 425px;
      margin: 10px; }
    .grid-container-book-of-the-day .aside .book-of-the-day-covers .secondary-covers {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .grid-container-book-of-the-day .aside .book-of-the-day-covers .secondary-covers img {
        border: solid 2px black;
        height: 200;
        width: 100px;
        margin: 10px; }
  .grid-container-book-of-the-day .chat-and-comments {
    grid-area: chat;
    background-color: #d9b99b;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .grid-container-book-of-the-day .chat-and-comments .chat {
      margin: 15px; }
      .grid-container-book-of-the-day .chat-and-comments .chat h3 {
        font-family: 'Linden Hill', serif;
        margin-top: 10px;
        margin-left: 30px;
        font-size: 1.5rem; }
      .grid-container-book-of-the-day .chat-and-comments .chat .intervention {
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        .grid-container-book-of-the-day .chat-and-comments .chat .intervention img {
          width: 30px;
          height: 30px; }
        .grid-container-book-of-the-day .chat-and-comments .chat .intervention p {
          font-family: 'Linden Hill', serif;
          margin-top: 10px;
          font-size: 1.5rem; }
      .grid-container-book-of-the-day .chat-and-comments .chat .add-discussion {
        margin-top: 10px;
        margin-left: 30px; }
        .grid-container-book-of-the-day .chat-and-comments .chat .add-discussion input {
          width: 750px;
          height: 30px; }
        .grid-container-book-of-the-day .chat-and-comments .chat .add-discussion button {
          width: 100px;
          height: 30px;
          font-size: 1.2rem; }

/* Footer */
.footer {
  background-color: #fff0db;
  grid-area: footer; }
  .footer .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .footer .social-media a {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 30px;
      margin-right: 30px; }
      .footer .social-media a img {
        height: 40px;
        width: 40px; }
  .footer .site-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .footer .site-information a {
      margin-right: 10px;
      margin-left: 10px;
      font-size: 1rem;
      text-decoration: none;
      text-align: center; }
