/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Corinthia:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');

/*------------------ INDEX ------------------*/

.grid-container-index {
    margin: 0 auto;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    grid-template-rows: 80px 150px auto 80px;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "main main aside"
    "footer footer footer";
}

/* Nav */

.nav {
    background-color: #e4d5b7;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    margin-left: 10px;
    margin-top: 5px;
    height: 40px;
    width: 40px;
}

.logo h1 {
    margin-left: 10px;
    font-size: 21.5remem;
    font-style: normal;
    font-family: 'Cinzel', serif;
    color: black;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.links li {
    margin-left: 25px;
}

.links li a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
    transition-property: color;
    transition-duration: 1s;
}

.links li a:hover {
    color: darkgoldenrod;
}

.lower-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-input {
    height: 25px;
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}

.search-button {
    height: 25px;
    width: 75px;
}

/* Header */

.header {
    background-color: #d9b99b;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header img {
    width: 150px;
    height: 150px;
    transition-property: -webkit-transform;
    transition-duration: 1s;
}

.header img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.welcome {
    text-align: center;
}

.welcome h1 {
    font-size: 5rem;
    font-family: 'Cinzel', serif;
    font-weight: 900;
    color: black;
    transition-property: color;
    transition-duration: 1s;
}

.welcome h1:hover {
    color: #ebe11f;
}

.welcome h2 {
    font-size: 2rem;
    font-family: 'Cinzel', serif;
    color: black;
    ;
}

/* Main */

.main {
    background-color: #eed9c4;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main img {
    margin: 20px;
    width: 700px;
    height: 400px;
    transition-property: box-shadow;
    transition-duration: 1.5s;
}

.main img:hover {
    box-shadow: 5px 5px darkslategray;
}

.main h2 {
    font-size: 1.5rem;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.intro-text {
    background-image: url("../img/cuaderno.jpg");
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
    width: 100vh;
    text-align: center;
    transition-property: box-shadow;
    transition-duration: 1.5s;
}

.intro-text:hover {
    box-shadow: 5px 5px darkslategray;
}

.intro-text h2 {
    font-family: 'Corinthia', serif;
    font-size: 2rem;
    color: black;
}

.multimedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.media-element {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.media-element iframe {
    margin: 15px;
    width: 350px;
    height: 250px;
}

.media-element h2 {
    font-size: 1.5rem;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

/* Aside */

.aside {
    background-color: #faf0e6;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.aside h1 {
    margin: 10px;
    font-size: 1.5rem;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.new-book {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.new-book img {
    width: 150px;
    height: 200px;
}

.new-book h2 {
    width: min-content;
}

/* Footer */

.footer {
    background-color: #fff0db;
    grid-area: footer;
}

.social-media {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.social-media img {
    height: 40px;
    width: 40px;
}

.social-media a {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.site-information {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.site-information a {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width:1050px) {

    .header img {
        width: 100px;
        height: 100px;
    }

    .welcome h1 {
        font-size: 3rem;
    }
    
    .welcome h2 {
        font-size: 1rem;
    }

    .main img {
        margin: 20px;
        width: 500px;
        height: 300px;
    }

    .multimedia {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .new-book img {
        width: 100px;
        height: 150px;
    }

    .intro-text {
        margin: 20px;
        padding: 20px;
        width: 70vh;
    }
}

@media screen and (max-width:810px) {

    .grid-container-index {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 150px auto auto 80px;
        grid-template-areas: 
        "nav nav"
        "header header"
        "main main "
        "aside aside "
        "footer footer";
    }

    .aside {
        grid-area: aside;
        display: flex;
        flex-direction: column;
    }

    .news {
        display: flex;
        flex-direction: row;
    }

    .new-book {
        margin-right: 50px;
    }

    .new-book h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width:720px) {

    .grid-container-index {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 150px auto auto 80px;
    }

    .upper-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (max-width:630px) {
    .main img {
        margin: 20px;
        width: 300px;
        height: 200px;
    }

    .intro-text {
        margin: 20px;
        padding: 20px;
        width: 50vh;
    }

    .intro-text h2 {
        font-size: 1.2rem;
    }

    .search-input {
        height: 25px;
        width: 300px;
    }

    
}

@media screen and (max-width:530px) {

    .grid-container-index {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 180px 150px auto auto 80px;
    }

    .links {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .header img {
        width: 70px;
        height: 70px;
    }

    .welcome h1 {
        font-size: 1.5rem;
    }
    
    .welcome h2 {
        font-size: 1rem;
    }

    .social-media img {
        height: 25px;
        width: 25px;
    }

    .site-information a {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 0.8rem;
    }

    .new-book {
        margin-right: 40px;
    }

    .new-book img {
        width: 80px;
        height: 130px;
    }

    .new-book h3 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:440px) {
    .intro-text {
        margin: 20px;
        padding: 20px;
        width: 40vh;
    }

    .intro-text h2 {
        font-size: 1rem;
    }

    .search-input {
        height: 25px;
        width: 200px;
    }
    
    .search-button {
        height: 25px;
        width: 50px;
    }

    .main h2 {
        font-size: 1.1rem;
    }

    .media-element h2 {
        font-size: 1.1rem;
    }

    .aside h1 {
        font-size: 1.1rem;
    }

    .media-element iframe {
        margin: 15px;
        width: 250px;
        height: 150px;
    }
}

@media screen and (max-width:380px) {
    .intro-text {
        margin: 20px;
        padding: 20px;
        width: 30vh;
    }

    .new-book {
        margin-right: 30px;
    }

    .new-book img {
        width: 60px;
        height: 110px;
    }

    .new-book h3 {
        font-size: 0.7rem;
    }

    .social-media a {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .header img {
        width: 60px;
        height: 60px;
    }

    .welcome h1 {
        font-size: 1.3rem;
    }
    
    .welcome h2 {
        font-size: 0.9rem;
    }

    .main img {
        margin: 20px;
        width: 250px;
        height: 150px;
    }

}


/*------------------ BOOKS ------------------*/

.grid-container-books {
    margin: 0 auto;
    color: black;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 80px auto 80px;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
}

.grid-container-books-sections {
    width: 100%;
    margin: 0 auto;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 450px 450px 450px;
    grid-template-areas: 
    "news"
    "recommended"
    "genres"
    "authors"
}

.section {
    text-align: center;
    background-color: #fff0db;
    height: 100%;
}

.section h2 {
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    color: black;
    margin-top: 10px;
}

.books-header {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.letters {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.letters li {
    margin-left: 25px;
}

.letters li a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
    transition-property: color;
    transition-duration: 0.5s;
}

.letters li a:hover {
    color: darkorange;
}


.books-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card {
    border-radius: 25px;
    width: 200px;
    height: 300px;
    margin: 15px;
    background-color: #d9b99b;
    align-items: center;
    box-shadow: 10px 10px cadetblue;
    transition-property: background-color;
    transition-duration: 1.5s;
}

.card:hover {
    background-color: khaki
}

.card img {
    border-radius: 20px;
    width: 170px;
    height: 210px;
    margin: 5px;
}

.card-body {
    text-align: start;
}

.card-body h5 {
    font-size: 1.1rem;
    color: black;
    margin-top: 7px;
    margin-left: 10px;
    font-family: 'Linden Hill', serif;
    font-weight: 600;
}

.card-body p {
    font-size: 0.9rem;
    color: black;
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Linden Hill', serif;
    font-weight: 400;
}

.card-body img {
    width: 20px;
    height: 20px;
    margin: 5px;
}

@media screen and (max-width:1150px) {
    .card {
        width: 150px;
        height: 250px;
    }

    .card img {
        width: 120px;
        height: 160px;
    }

    .card-body h5 {
        font-size: 0.9rem;
        margin-top: 5px;
        margin-left: 7px;
    }
    
    .card-body p {
        font-size: 0.7rem;
        margin-top: 5px;
        margin-left: 7px;
    }

    .letters li {
        margin-left: 15px;
    }
    
    .letters li a {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:900px) {
    
}

@media screen and (max-width:720px) {
    .grid-container-books {
        grid-template-columns: 1fr ;
        grid-template-rows: 100px auto 80px;
    }
}

@media screen and (max-width:530px) {
    .grid-container-books {
        grid-template-columns: 1fr ;
        grid-template-rows: 180px auto 80px;
    }
}

/*-------------- BOOK OF THE DAY --------------*/

.grid-container-book-of-the-day {
    margin: 0 auto;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px auto auto 80px;
    grid-template-areas: 
    "nav nav nav"
    "aside main main"
    "chat chat chat"
    "footer footer footer";
}

.book-of-the-day-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: 50px;
}

.book-of-the-day-info h2 {
    font-family: 'Linden Hill', serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3.5rem;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 40%;
}

.column {
    width: 50%;
}

.column h3 {
    margin-top: 5px;
    font-family: 'Metal', cursive;
    font-size: 1.3rem;
}

.long-review {
    height: 60%;
    font-family: 'Linden Hill', serif;
}

.long-review h3 {
    font-family: 'Linden Hill', serif;
    margin-top: 10px;
    font-size: 1.3rem;
}

.long-review p {
    font-family: 'Linden Hill', serif;
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: justify;
}

.book-of-the-day-covers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.main-cover img {
    border: solid 3px black;
    height: 500px;
    width: 425px;
    margin: 10px;
}

.secondary-covers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secondary-covers img {
    border: solid 2px black;
    height: 200;
    width: 100px;
    margin: 10px;
}

.chat-and-comments {
    grid-area: chat;
    background-color: #d9b99b;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.chat {
    margin: 15px;
}

.chat h3 {
    font-family: 'Linden Hill', serif;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 1.5rem;
}

.intervention {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.intervention p {
    font-family: 'Linden Hill', serif;
    margin-top: 10px;
    font-size: 1.5rem;
}

.intervention img {
    width: 30px;
    height: 30px;
}

.add-discussion {
    margin-top: 10px;
    margin-left: 30px;
}

.add-discussion input {
    width: 750px;
    height: 30px;
}

.add-discussion button {
    width: 100px;
    height: 30px;
    font-size: 1.2rem;
}

@media screen and (max-width:1260px) {
    .main-cover img {
        height: 400px;
        width: 325px;
        margin: 10px;
    }
}

@media screen and (max-width:1100px) {
    .grid-container-book-of-the-day {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80px auto auto auto 80px;
        grid-template-areas: 
        "nav nav nav"
        "main main main"
        "aside aside aside"
        "chat chat chat"
        "footer footer footer";
    }

    .book-of-the-day-covers {
        display: flex;
        flex-direction: row;
    }

    .secondary-covers {
        display: flex;
        flex-direction: column;
    }

    .intervention p {
        font-family: 'Linden Hill', serif;
        font-size: 1.2rem;
    }

    .chat h3 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:950px) {
    .add-discussion input {
        width: 550px;
        height: 30px;
    }
    
    .add-discussion button {
        width: 80px;
        height: 30px;
        font-size: 1rem;
    }

    .long-review h3 {
        margin-top: 20px;
        font-size: 1.1rem;
    }
    
    .long-review p {
        font-size: 0.9rem;
    }

    .column h3 {
        margin-right: 20px;
        margin-top: 10px;
        font-size: 1.1rem;
    }
}

@media screen and (max-width:720px) {
    .grid-container-book-of-the-day {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px auto auto auto 80px;
    }

    .book-of-the-day-info h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 2.7rem;
    }

    .add-discussion input {
        width: 350px;
        height: 30px;
    }
    
    .add-discussion button {
        width: 70px;
        height: 30px;
        font-size: 0.8rem;
    }

}

@media screen and (max-width:630px) {
    
    .main-cover img {
        height: 300px;
        width: 225px;
        margin: 15px;
    }

    .secondary-covers img {
        height: 150;
        width: 50px;
        margin: 15px;
    }
    
}

@media screen and (max-width:530px) {
    .grid-container-book-of-the-day {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 180px auto auto auto 80px;
    }

    .book-of-the-day-info h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 2rem;
    }

    .long-review h3 {
        margin-top: 20px;
        font-size: 1rem;
    }
    
    .long-review p {
        font-size: 0.8rem;
    }

    .column h3 {
        margin-right: 20px;
        margin-top: 10px;
        font-size: 1rem;
    }
}

@media screen and (max-width:490px) {
    .add-discussion input {
        width: 250px;
        height: 30px;
    }
    
    .add-discussion button {
        width: 60px;
        height: 30px;
        font-size: 0.7rem;
    }

    .intervention p {
        font-size: 1rem;
    }

    .intervention img {
        display: none;
    }

    .chat h3 {
        font-size: 1.1rem;
    }

    .column h3 {
        margin-right: 20px;
        margin-top: 7px;
        font-size: 0.8rem;
    }

    .book-of-the-day-info h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:390px) {

    .add-discussion {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .add-discussion button {
        margin-top: 10px;
    }

    .secondary-covers img {
       display: none;
    }

    .intervention p {
        font-size: 0.9rem;
    }

    .chat h3 {
        font-size: 1rem;
    }

    .column h3 {
        margin-right: 15px;
        margin-top: 5px;
        font-size: 0.7rem;
    }

    .book-of-the-day-info h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 1.1rem;
    }
}

/*------------------ CONTACT ------------------*/

.grid-container-contact {
    margin: 0 auto;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto 80px;
    grid-template-areas: 
    "nav"
    "info"
    "footer";
}

.contact-panel {
    grid-area: info;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #faf0e6;
}

.form-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eed9c4;
}

.form-section form {
    margin: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-form div {
    margin: 30px;
}

.form-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-data h3 {
    margin-right: 10px;
    font-size: 1.5rem;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.form-data textarea {
    width: 400px;
    height: 100px;
}

.form-data-country {
    justify-content: flex-start;
}

.genre {
    font-size: 1rem;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.countries {
    font-size: 1rem;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.buttons input {
    height: 50px;
    width: 130px;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.image-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faf0e6;
    text-align: center;
}

.image-section h2 {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.contact-image {
    height: 450px;
    width: 600px;
    margin: 30px;
}

@media screen and (max-width:1400px) {
    .contact-image {
        height: 400px;
        width: 500px;
        margin: 25px;
    }
}

@media screen and (max-width:1300px) {

    .form-data h3 {
        margin-right: 10px;
        font-size: 1.2rem;
    }

    .form-data textarea {
        width: 300px;
    }

    .image-section h2 {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .contact-image {
        height: 300px;
        width: 400px;
        margin: 25px;
    }
}

@media screen and (max-width:1080px) {
    .contact-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-section {
        width: 100%;
    }

    .image-section h2 {
        font-size: 2rem;
        margin-top: 25px;
    }   
}

@media screen and (max-width:720px) {

    .grid-container-contact {
        grid-template-rows: 100px auto 80px;
    }
}

@media screen and (max-width:600px) {

    .image-section h2 {
        font-size: 1.5rem;
    }   

    .contact-image {
        height: 200px;
        width: 300px;
        margin: 20px;
    }

    .form-data textarea {
        width: 200px;
    }

    .contact-form div {
        margin: 20px;
    }

    .buttons input {
        height: 40px;
        width: 90px;
        font-size: 1rem;
    }
    
}

@media screen and (max-width:530px) {
    .grid-container-contact {
        grid-template-rows: 180px auto 80px;
    }

    .form-data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

/*------------------- USER -------------------*/

.grid-container-user {
    margin: 0 auto;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px auto 80px;
    grid-template-areas: 
    "nav nav"
    "user user"
    "footer footer";
}

.user-main {
    grid-area: user;
    width: 100%;
    background-color: #faf0e6;
}

.user-name {
    background-color: #faf0e6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin: 15px;
}

.user-name h2 {
    text-align: center;
}

.user-photo {
    height: 250px;
    width: 400px;
    margin: 30px;
    align-items: center;
}

.user-photo img {
    height: 250px;
    width: 400px;
    margin: 30px;
    box-shadow: 5px 5px goldenrod;
    border-radius: 20px;
}

.user-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column h2 {
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.7rem;
    margin: 40px
}

.user-pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-pictures h2 {
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    margin: 40px
}

.user-books {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-books img {
    border-radius: 20px;
    width: 170px;
    height: 210px;
    margin: 10px;
    margin-bottom: 50px;
    box-shadow: 5px 5px cadetblue;
}

@media screen and (max-width:1250px) {

    .user-name {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 12px;
    }

    .user-photo img {
        height: 200px;
        width: 350px;
        margin: 25px;
        box-shadow: 4px 4px goldenrod;
        border-radius: 15px;
    }

    .column h2 {
        margin-top: 5px;
        font-size: 1.2rem;
        margin: 30px
    }

    .user-books img {
        border-radius: 20px;
        width: 120px;
        height: 160px;
        margin: 10px;
        margin-bottom: 40px;
        box-shadow: 4px 4px cadetblue;
    }

    
}

@media screen and (max-width:900px) {

    .user-books {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user-pictures h2 {
        margin-top: 5px;
        font-size: 1.3rem;
        margin: 35px
    }
}

@media screen and (max-width:720px) {

    .grid-container-user {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px auto 80px;
    }
}

@media screen and (max-width:660px) {
    .user-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 500;
        margin: 10px;
    }

    .user-photo img {
        height: 200px;
        width: 300px;
        margin: 20px;
        box-shadow: 3px 3px goldenrod;
        border-radius: 12px;
    }

    .column h2 {
        margin-top: 5px;
        font-size: 1rem;
        margin: 25px
    }
    
}

@media screen and (max-width:530px) {
    .grid-container-user {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 180px auto 80px;
    }
}

@media screen and (max-width:400px) {

    .user-photo {
        height: 200px;
        width: 300px;
        margin: 5px;
    }
    .user-photo img {
        height: 200px;
        width: 300px;
        margin: 5px;
        box-shadow: 2px 2px goldenrod;
    }
}

@media screen and (max-width:350px) {
    .user-photo {
        height: 180px;
        width: 250px;
        margin: 4px;
    }
    .user-photo img {
        height: 180px;
        width: 250px;
        margin: 4px;
    }

    .user-name {
        font-size: 1rem;
        font-weight: 400;
        margin: 7px;
    }

    .column h2 {
        margin-top: 4px;
        font-size: 0.7rem;
        margin: 15px
    }

    .user-pictures h2 {
        margin-top: 4px;
        font-size: 1rem;
        margin: 25px
    }
}

