/*------------------ CONTACT ------------------*/

.grid-container-contact {
    margin: 0 auto;
    color: nth($colores, 6);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto 80px;
    grid-template-areas: 
    "nav"
    "info"
    "footer";
    main {
       .contact-panel {
        grid-area: info;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: nth($colores, 1);
        .form-section {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: nth($colores, 3);
            .contact-form {
                margin: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .form-data {
                    margin: 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    h3 {
                        margin-right: 10px;
                        font-size: 1.5rem;
                        font-style: normal;
                        font-family: nth($fuentes, 3);
                        color: nth($colores, 6);
                    }
                }
                .form-data {
                    div {
                        .genre {
                            font-size: 1rem;
                            font-style: normal;
                            font-family: 'Courier New', Courier, monospace;
                            color: nth($colores, 6);
                        }
                    }
                }
                .form-data-country {
                    justify-content: flex-start;
                    .countries {
                        font-size: 1rem;
                        font-style: normal;
                        font-family: 'Courier New', Courier, monospace;
                        color: nth($colores, 6);
                    }
                    
                }
                .form-data {
                    textarea {
                        width: 400px;
                        height: 100px;
                    }
                }
                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    input {
                        height: map-get($button, height);
                        width: map-get($button, width);
                        font-size: map-get($button, font-size);
                        font-family: map-get($button, font-family);
                        font-weight: map-get($button, font-weight);
                    }
                }
            }
        }
        .image-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: nth($colores, 1);
            text-align: center;
            h2 {
                font-size: 2rem;
                font-family: 'Courier New', Courier, monospace;
                font-weight: 700;
            }
            .contact-image {
                height: 450px;
                width: 600px;
                margin: 30px;
            }
        }
       } 
    }
}