$poem-image: url("../img/cuaderno.jpg");

$colores:
#faf0e6, /* palette - lighter */
#fff0db, /* palette - light */
#eed9c4, /* palette - medium */
#e4d5b7, /* palette - dark */
#d9b99b, /* palette - darker */
black, /* text */
darkgoldenrod, /* hover text */
darkorange, /* hover card */
khaki, /* hover text */
cadetblue; /* box-shadow */

$fuentes:
'Cinzel', /* mayor title */
'Corinthia', /* manuscript */
'Courier New', /* nav & letters */
'Linden Hill', /* descriptive text */
'Metal', /* minor title */
'Sacramento', /* logo */
'Roboto'; /* books names */

$button:(
    height: 50px,
    width: 130px,
    font-size: 1.5rem,
    font-family: 'Courier New',
    font-weight: 700,
    margin: 10px,
);

@mixin flex ($display, $direction, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin text ($size, $family, $weight, $style, $color) {
    font-size: $size;
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    color: $color;
}

@mixin margin ($top, $bottom, $left, $right) {
    margin-top: $top;
    margin-bottom: $bottom;
    margin-left: $left;
    margin-right: $right;
}