$colores:
#faf0e6, /* palette - lighter */
#fff0db, /* palette - light */
#eed9c4, /* palette - medium */
#e4d5b7, /* palette - dark */
#d9b99b, /* palette - darker */
black, /* text */
darkgoldenrod, /* hover */
darkorange, 
khaki, 
cadetblue; /* box-shadow */

$fuentes:
'Cinzel',
'Corinthia',
'Courier New',
'Linden Hill',
'Metal',
'Sacramento';

$button:(
    height: 50px,
    width: 130px,
    font-size: 1.5rem,
    font-family: 'Courier New',
    font-weight: 700,
)