$colores:
#faf0e6, /* palette - lighter */
#fff0db, /* palette - light */
#eed9c4, /* palette - medium */
#e4d5b7, /* palette - dark */
#d9b99b, /* palette - darker */
black, /* text */
darkgoldenrod, /* hover text */
darkorange, /* hover card */
khaki, 
cadetblue; /* box-shadow */

$fuentes:
'Cinzel', /* mayor title */
'Corinthia', /* manuscript */
'Courier New', /* nav & letters */
'Linden Hill', /* descriptive text */
'Metal', /* minor title */
'Sacramento'; /* logo */

$button:(
    height: 50px,
    width: 130px,
    font-size: 1.5rem,
    font-family: 'Courier New',
    font-weight: 700,
)